*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: white;
}

section {
  margin-top: 90px;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.logo {
  margin-top: 5px;
  height: 50px;
  width: 45px;
}
.logo svg {
  fill: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: yellowgreen;
  min-height: 100vh;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 170px;
  background-color: #638e0a;
  padding: 10px;
}
aside button {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 5px;
}

section {
  margin-left: 190px;
  margin-top: 0;
  padding: 30px;
  display: none;
}

.submit {
  padding: 5px;
  margin-top: 15px;
  cursor: pointer;
  background-color: #7fb412;
  border: 2px solid #68940d;
  border-radius: 5px;
  width: 100px;
  color: white;
}

.tours-form {
  margin-bottom: 20px;
}
.tours-form label {
  display: block;
  margin-bottom: 10px;
}
.tours-form input, .tours-form textarea {
  margin-top: 5px;
  display: block;
}

table {
  border-collapse: collapse;
}
table th {
  padding: 5px;
  font-size: 18px;
}
table td {
  vertical-align: top;
  padding: 10px;
}
table td.title {
  min-width: 100px;
}
table td.image img {
  max-width: 350px;
}
table td.delete a {
  color: white;
  background-color: darkred;
  display: block;
  padding: 3px;
}

.slider-body label {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15px 15px 140px 15px 200px 15px 1fr 15px 140px;
  grid-template-columns: 15px 140px 200px 1fr 140px;
  gap: 15px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #7fb412;
  border: 2px solid #68940d;
  padding: 5px;
  border-radius: 5px;
}
.slider-body label h3 {
  font-size: 16px;
}
.slider-body label img {
  width: 200px;
}